/* Modified by Egghead */
/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors

*/
:root {/* Next iteration vars *//* Still active previous vars */ }
/*

   SKINS:PSEUDO

   Customize the color of an element when
   it is focused or hovered over.

 */
/* Hover colors */
.hover-black:hover { color: #000; }
.hover-black:focus { color: #000; }
.hover-white:hover { color: #fff; }
.hover-white:focus { color: #fff; }
.hover-transparent:hover { color: transparent; }
.hover-transparent:focus { color: transparent; }
.hover-white-secondary:hover { color: #f8f8f8; }
.hover-white-secondary:focus { color: #f8f8f8; }
.hover-base:hover { color: #21252d; }
.hover-base:focus { color: #21252d; }
.hover-base-secondary:hover { color: #141618; }
.hover-base-secondary:focus { color: #141618; }
.hover-base-light:hover { color: #323439; }
.hover-base-light:focus { color: #323439; }
.hover-gray:hover { color: #f4f7f9; }
.hover-gray:focus { color: #f4f7f9; }
.hover-gray-secondary:hover { color: #e2e3e7; }
.hover-gray-secondary:focus { color: #e2e3e7; }
.hover-dark-gray:hover { color: #63768d; }
.hover-dark-gray:focus { color: #63768d; }
.hover-dark-gray-secondary:hover { color: #b0b6be; }
.hover-dark-gray-secondary:focus { color: #b0b6be; }
.hover-blue:hover { color: #316aff; }
.hover-blue:focus { color: #316aff; }
.hover-blue-secondary:hover { color: #2758b8; }
.hover-blue-secondary:focus { color: #2758b8; }
.hover-dark-blue:hover { color: #344055; }
.hover-dark-blue:focus { color: #344055; }
.hover-dark-blue-secondary:hover { color: #273040; }
.hover-dark-blue-secondary:focus { color: #273040; }
.hover-green:hover { color: #409b6b; }
.hover-green:focus { color: #409b6b; }
.hover-green-secondary:hover { color: #36855b; }
.hover-green-secondary:focus { color: #36855b; }
.hover-orange:hover { color: #fd9126; }
.hover-orange:focus { color: #fd9126; }
.hover-orange-secondary:hover { color: #c97420; }
.hover-orange-secondary:focus { color: #c97420; }
.hover-red:hover { color: #f0624d; }
.hover-red:focus { color: #f0624d; }
.hover-red-secondary:hover { color: #c44c3a; }
.hover-red-secondary:focus { color: #c44c3a; }
.hover-yellow:hover { color: #fbc155; }
.hover-yellow:focus { color: #fbc155; }
.hover-yellow-secondary:hover { color: #d2a043; }
.hover-yellow-secondary:focus { color: #d2a043; }
/* Legacy classes */
.hover-dark-navy:hover { color: #141618; }
.hover-dark-navy:focus { color: #141618; }
.hover-navy:hover { color: #21252d; }
.hover-navy:focus { color: #21252d; }
.hover-light-navy:hover { color: #344055; }
.hover-light-navy:focus { color: #344055; }
.hover-light-gray:hover { color: #f8f8f8; }
.hover-light-gray:focus { color: #f8f8f8; }
.hover-tag-gray:hover { color: rgba( 255, 255, 255, .9 ); }
.hover-tag-gray:focus { color: rgba( 255, 255, 255, .9 ); }
.hover-dark-orange:hover { color: #c97420; }
.hover-dark-orange:focus { color: #c97420; }
.hover-tag-orange:hover { color: rgba( 255, 255, 255, .7 ); }
.hover-tag-orange:focus { color: rgba( 255, 255, 255, .7 ); }
.hover-tag-blue:hover { color: rgba( 255, 255, 255, .7 ); }
.hover-tag-blue:focus { color: rgba( 255, 255, 255, .7 ); }
.hover-dark-green:hover { color: #36855b; }
.hover-dark-green:focus { color: #36855b; }
.hover-turquoise:hover { color: #36855b; }
.hover-turquoise:focus { color: #36855b; }
.hover-tag-turquoise:hover { color: rgba( 255, 255, 255, .7 ); }
.hover-tag-turquoise:focus { color: rgba( 255, 255, 255, .7 ); }
.hover-dark-red:hover { color: #c44c3a; }
.hover-dark-red:focus { color: #c44c3a; }
/* Hover background-colors */
.hover-bg-black:hover { background-color: #000; }
.hover-bg-black:focus { background-color: #000; }
.hover-bg-white:hover { background-color: #fff; }
.hover-bg-white:focus { background-color: #fff; }
.hover-bg-transparent:hover { background-color: transparent; }
.hover-bg-transparent:focus { background-color: transparent; }
.hover-bg-white-secondary:hover { background-color: #f8f8f8; }
.hover-bg-white-secondary:focus { background-color: #f8f8f8; }
.hover-bg-base:hover { background-color: #21252d; }
.hover-bg-base:focus { background-color: #21252d; }
.hover-bg-base-secondary:hover { background-color: #141618; }
.hover-bg-base-secondary:focus { background-color: #141618; }
.hover-bg-base-light:hover { background-color: #323439; }
.hover-bg-base-light:focus { background-color: #323439; }
.hover-bg-gray:hover { background-color: #f4f7f9; }
.hover-bg-gray:focus { background-color: #f4f7f9; }
.hover-bg-gray-secondary:hover { background-color: #e2e3e7; }
.hover-bg-gray-secondary:focus { background-color: #e2e3e7; }
.hover-bg-dark-gray:hover { background-color: #63768d; }
.hover-bg-dark-gray:focus { background-color: #63768d; }
.hover-bg-dark-gray-secondary:hover { background-color: #b0b6be; }
.hover-bg-dark-gray-secondary:focus { background-color: #b0b6be; }
.hover-bg-blue:hover { background-color: #316aff; }
.hover-bg-blue:focus { background-color: #316aff; }
.hover-bg-blue-secondary:hover { background-color: #2758b8; }
.hover-bg-blue-secondary:focus { background-color: #2758b8; }
.hover-bg-dark-blue:hover { background-color: #344055; }
.hover-bg-dark-blue:focus { background-color: #344055; }
.hover-bg-dark-blue-secondary:hover { background-color: #273040; }
.hover-bg-dark-blue-secondary:focus { background-color: #273040; }
.hover-bg-green:hover { background-color: #409b6b; }
.hover-bg-green:focus { background-color: #409b6b; }
.hover-bg-green-secondary:hover { background-color: #36855b; }
.hover-bg-green-secondary:focus { background-color: #36855b; }
.hover-bg-orange:hover { background-color: #fd9126; }
.hover-bg-orange:focus { background-color: #fd9126; }
.hover-bg-orange-secondary:hover { background-color: #c97420; }
.hover-bg-orange-secondary:focus { background-color: #c97420; }
.hover-bg-red:hover { background-color: #f0624d; }
.hover-bg-red:focus { background-color: #f0624d; }
.hover-bg-red-secondary:hover { background-color: #c44c3a; }
.hover-bg-red-secondary:focus { background-color: #c44c3a; }
.hover-bg-yellow:hover { background-color: #fbc155; }
.hover-bg-yellow:focus { background-color: #fbc155; }
.hover-bg-yellow-secondary:hover { background-color: #d2a043; }
.hover-bg-yellow-secondary:focus { background-color: #d2a043; }
/* Legacy classes */
.hover-bg-dark-navy:hover { background-color: #141618; }
.hover-bg-dark-navy:focus { background-color: #141618; }
.hover-bg-navy:hover { background-color: #21252d; }
.hover-bg-navy:focus { background-color: #21252d; }
.hover-bg-light-navy:hover { background-color: #344055; }
.hover-bg-light-navy:focus { background-color: #344055; }
.hover-bg-light-gray:hover { background-color: #f8f8f8; }
.hover-bg-light-gray:focus { background-color: #f8f8f8; }
.hover-bg-tag-gray:hover { background-color: rgba( 255, 255, 255, .9 ); }
.hover-bg-tag-gray:focus { background-color: rgba( 255, 255, 255, .9 ); }
.hover-bg-dark-orange:hover { background-color: #c97420; }
.hover-bg-dark-orange:focus { background-color: #c97420; }
.hover-bg-tag-orange:hover { background-color: rgba( 255, 255, 255, .7 ); }
.hover-bg-tag-orange:focus { background-color: rgba( 255, 255, 255, .7 ); }
.hover-bg-tag-blue:hover { background-color: rgba( 255, 255, 255, .7 ); }
.hover-bg-tag-blue:focus { background-color: rgba( 255, 255, 255, .7 ); }
.hover-bg-dark-green:hover { background-color: #36855b; }
.hover-bg-dark-green:focus { background-color: #36855b; }
.hover-bg-turquoise:hover { background-color: #36855b; }
.hover-bg-turquoise:focus { background-color: #36855b; }
.hover-bg-tag-turquoise:hover { background-color: rgba( 255, 255, 255, .7 ); }
.hover-bg-tag-turquoise:focus { background-color: rgba( 255, 255, 255, .7 ); }
.hover-bg-dark-red:hover { background-color: #c44c3a; }
.hover-bg-dark-red:focus { background-color: #c44c3a; }

